[submodule "apps/fileshare"]
	path = apps/fileshare
	url = ../_fileshare.git
[submodule "apps/markitdown"]
	path = apps/markitdown
	url = ../markitdown.git
[submodule "apps/veloread"]
	path = apps/veloread
	url = ../veloread.git
[submodule "apps/fate-sheet"]
	path = apps/fate-sheet
	url = ../fatesheet.git
