* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.4;
    color: var(--text-primary);
    background-color: var(--primary-bg);
    font-weight: 400;
    font-size: 0.875rem;
}
