/* Global Layout with Sidebar */
.text-based-page {
    display: flex;
}

.page-content {
    flex: 1;
    margin-left: 250px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .text-based-page {
        flex-direction: column;
    }

    .page-content {
        margin-left: 0;
        transition: transform 0.3s ease-in-out;
    }
}
